#HASKELL
**/*OLD/
**/src/**/*OLD/
**/*old/
**/0ld
**/demo/
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

**/_OLD/
shell-1.1.0.nix
.pre-commit-config.yaml


tests/tools

docs/PABSimulator.txt
docs/README DEV.txt

export

folder_structure.txt